# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# AWS credentials
.aws/

# Build output
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/exercise1